<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>New York</string>
		<key>state</key>
		<string>New York</string>
	</dict>
	<dict>
		<key>city</key>
		<string>Austin</string>
		<key>state</key>
		<string>Texas</string>
	</dict>
	<dict>
		<key>city</key>
		<string>Breakfast: French Toast</string>
		<key>state</key>
		<string>Lunch: Goulash</string>
	</dict>
</array>
</plist>
